@import '../colors';

.button {
    background-color: $fillBg;
    color: $brightText;
    font-size: 2em;
    font-weight: bold;
    border-radius: 1em;
    padding: 0.2em;
    cursor: pointer;
}

.button[disabled] {
    filter: greyscale();
    opacity: 0.8;
    color: $faintText;
    cursor: not-allowed;
}